.cp-live-countdown-container {
	text-align: center;
}

.cp-live-countdown {
	display: inline-block;
	margin: auto;
	border-radius: var(--cp-border-radius-sm);
	background: var(--cp-color-ui-primary);
	color: var(--cp-color-text-inverted);
	padding: var(--cp-gap--sm);
	
	&--element {
		line-height: 1;
		width: calc( 2em + var(--cp-gap--sm) * 2);
		text-align: center;
		position: relative;
		float: left;
		
		&--label {
			font-size: var(--cp-font-size--xs);
		}
		
		> span {
			display: block;
		}
		
		&:not(:last-child):after {
			position: absolute;
			right: 0;
			content: ':';
			top: 50%;
			margin-top: -0.5em;
		}
	}
}